<div class="persoption">
  <p><%= f.label :name, "Name" %><br />
  <%= f.text_field  :name %></p>
  <p><%= f.label :title, "Title" %><br />
  <%= f.text_field  :title %></p>
  <p><%= f.label :max_length, "Maximum Length" %><br />
  <%= f.text_field  :max_length %></p>
  <%= link_to_remove_fields "[x]", f %>
</div>